{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <title>PHA</title>
    <meta content="Admin Dashboard" name="description"/>
    <meta content="ThemeDesign" name="author"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <link rel="shortcut icon" href="{% static 'assets1/images/faviicon.png' %}">
    <!-- DataTables -->
    <link href="{% static 'assets1/plugins/datatables/dataTables.bootstrap4.min.css' %}" rel="stylesheet"
          type="text/css"/>
    <link href="{% static 'assets1/plugins/datatables/buttons.bootstrap4.min.css' %}" rel="stylesheet" type="text/css"/>
    <!-- Responsive datatable examples -->
    <link href="{% static 'assets1/plugins/datatables/responsive.bootstrap4.min.css' %}" rel="stylesheet"
          type="text/css"/>
{#    <link href="{% static 'assets1/css/bootstrap.min.css" rel="stylesheet" type="text/css' %}">#}
{#    <link href="{% static 'assets1/css/icons.css" rel="stylesheet" type="text/css' %}">#}
{#    <link href="{% static 'assets1/css/style.css" rel="stylesheet" type="text/css' %}">#}
    <!-- Dropzone css -->
    <link href="{% static 'assets1/plugins/dropzone/dist/dropzone.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'assets1/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'assets1/css/icons.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'assets1/css/style.css' %}" rel="stylesheet" type="text/css">


    <link rel="stylesheet" href="{% static 'plugins/bootstrap-4.6.2/css/bootstrap.min.css' %}">
    <link rel="apple-touch-icon" sizes="76x76" href="{% static 'assets/img/favicon.ico' %}">
    <link rel="icon" type="image/png" href="{% static 'assets/img/favicon.ico' %}">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <title>ABSA</title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no'
          name='viewport'/>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Nunito:300,300i,400,600,800" rel="stylesheet">

    <!-- Font Awesome Icons -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
          integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

    <!-- Main CSS -->
    <link href="{% static 'assets/css/main.css' %}" rel="stylesheet"/>

    <!-- Animation CSS -->
    <link href="{% static '/assets/css/vendor/aos.css' %}" rel="stylesheet"/>

    <!-- ECharts 文件 -->
    <script src="{% static 'assets/js/echarts.js' %}"></script>

</head>


<body class="fixed-left">

<!-- Loader -->
<div id="preloader">
    <div id="status">
        <div class="spinner"></div>
    </div>
</div>

<!-- Begin page -->
<nav class="topnav navbar navbar-expand-lg navbar-dark bg-primary fixed-top">

    <div class="container-fluid">
        <a class="navbar-brand" href="./index.html"><i class="fas fa-anchor mr-2"></i><strong>ABSA</strong> INDEX</a>
        <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarColor02"
                aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse" id="navbarColor02" style="">
            <ul class="navbar-nav mr-auto d-flex align-items-center">
                <li class="nav-item">
                    <a class="nav-link" href="/login/">介绍</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        菜单栏 </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/index/">主页</a>
                        <a class="dropdown-item" href="/login/">登录</a>
                        <a class="dropdown-item" href="/layout/">退出</a>
                        <a class="dropdown-item" href="/login/">切换账户</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/userhome/">历史日志</a>
                </li>
            </ul>
            {#            <ul class="navbar-nav ml-auto d-flex align-items-center">#}
            {#                <li class="nav-item">#}
            {#			<span class="nav-link" href="#">#}
            {#			<a class="btn btn-info btn-round shadow-sm" href="#" data-toggle="modal" data-target="#modal_newsletter"><i#}
            {#                    class="fas fa-cloud-download-alt"></i> Download UI Kit <a#}
            {#                    href="https://github.com/wowthemesnet/Anchor-Bootstrap-UI-Kit/archive/master.zip"#}
            {#                    class="downloadzip" class="hidden"></a>#}
            {#			</a>#}
            {#			</span>#}
            {#                </li>#}
            {#            </ul>#}
        </div>
    </div>
</nav>

<div id="wrapper">
    <!-- Start right Content here -->
    <div class="content-page">
        <!-- Start content -->
        <div class="content">
            <br>
            <br>
            <br>
            <br>
            <br>
            <div class="page-content-wrapper ">

                <div class="container-fluid">
                    <div class="row">
                        {#<div class="col-12">#}
                        <div class="center">
                            <div class="card m-b-30">
                                <div class="card-body">
                                    {% block content1 %}{% endblock %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Right content here -->
    </div>
</div>
<!-- END wrapper -->


<!-- jQuery  -->
<script src="{% static 'assets1/js/jquery.min.js' %}"></script>
<script src="{% static 'assets1/js/popper.min.js' %}"></script>
<script src="{% static 'assets1/js/bootstrap.min.js' %}"></script>
<script src="{% static 'assets1/js/modernizr.min.js' %}"></script>
<script src="{% static 'assets1/js/detect.js' %}"></script>
<script src="{% static 'assets1/js/fastclick.js' %}"></script>
<script src="{% static 'assets1/js/jquery.slimscroll.js' %}"></script>
<script src="{% static 'assets1/js/jquery.blockUI.js' %}"></script>
<script src="{% static 'assets1/js/waves.js' %}"></script>
<script src="{% static 'assets1/js/jquery.nicescroll.js' %}"></script>
<script src="{% static 'assets1/js/jquery.scrollTo.min.js' %}"></script>
<!-- Dropzone js -->
<script src="{% static 'assets1/plugins/dropzone/dist/dropzone.js' %}"></script>
<!-- App js -->
<script src="{% static 'assets1/js/app.js' %}"></script>
{% block js %}{% endblock %}
</body>

</html>