{% extends 'layout_content.html' %}
{% load static %}
{% block content1 %}
    <h4>PHA 合成通路</h4>
    <div class="row justify-content-center">
        <div class="col-12">
            <div class="card m-b-30">
                <div class="card-body">
                    <h4 class="header-title">PHA合成通路图</h4>
                    <style>
                        .image-container {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            flex-direction: column;
                        }

                        .image-wrapper {
                            margin-bottom: 40px; /* 调整标题和图片之间的间距 */
                            text-align: center;
                        }

                        .image-wrapper img {
                            max-width: 100%;
                            max-height: 600px;
                        }

                        .image-wrapper h2 {
                            margin-top: 10px; /* 调整标题和图片之间的间距 */
                            font-size: 18px;
                            font-weight: bold;
                            color: #333333;
                        }
                    </style>

                    <div class="image-container">
                        <div class="image-wrapper">
                            <img src="{% static 'assets/img/天然条件下PHA合成途径.png' %}"
                                 alt="天然条件下PHA合成途径">
                            <h2>天然条件下PHA合成途径</h2>
                        </div>
                        <div class="image-wrapper">
                            <img src="{% static 'assets/img/PHA合成主要途径.png' %}" alt="PHA合成主要途径">
                            <h2>PHA合成主要途径</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="card m-b-30">
                <div class="card-body">
                    <h4 class="header-title">PHA合成通路表格</h4>
                    <p class="text-muted m-b-30 font-14"></p>
                    <table id="datatable-buttons" class="table table-striped table-bordered"
                           width="100%">
                        <thead>
                        <tr>
                            <th>No.</th>
                            <th>Pathway</th>
                            <th>Abbreviation</th>
                            <th>Enzyme</th>
                            <th>Species</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for item in data %}
                            <tr>
                                <td>{{ item.id }}</td>
                                <td>{{ item.Pathway }}</td>
                                <td>{{ item.Abbreviation }}</td>
                                <td>{{ item.Enzyme }}</td>
                                <td>{{ item.Species }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div> <!-- end col -->
    </div> <!-- end row -->
{% endblock %}
{% block js %}
    <!-- Required datatable js -->
    <script src="{% static 'assets_module/plugins/datatables/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'assets_module/plugins/datatables/dataTables.bootstrap4.min.js' %}"></script>
    <!-- Buttons examples -->
    <script src="{% static 'assets_module/plugins/datatables/dataTables.buttons.min.js' %}"></script>
    <script src="{% static 'assets_module/plugins/datatables/buttons.bootstrap4.min.js' %}"></script>
    <script src="{% static 'assets_module/plugins/datatables/jszip.min.js' %}"></script>
    <script src="{% static 'assets_module/plugins/datatables/pdfmake.min.js' %}"></script>
    <script src="{% static 'assets_module/plugins/datatables/vfs_fonts.js' %}"></script>
    <script src="{% static 'assets_module/plugins/datatables/buttons.html5.min.js' %}"></script>
    <script src="{% static 'assets_module/plugins/datatables/buttons.print.min.js' %}"></script>
    <script src="{% static 'assets_module/plugins/datatables/buttons.colVis.min.js' %}"></script>
    <!-- Responsive examples -->
    <script src="{% static 'assets_module/plugins/datatables/dataTables.responsive.min.js' %}"></script>
    <script src="{% static 'assets_module/plugins/datatables/responsive.bootstrap4.min.js' %}"></script>
    <!-- Datatable init js -->
    <script src="{% static 'assets_module/pages/datatables.init.js' %}"></script>
{% endblock %}